name: ew_keyring
description: Encointer Utils Package
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.0.1 <4.0.0"

dependencies:
  json_annotation: ^4.8.1
  polkadart_keyring: 0.2.1
  substrate_bip39: ^0.2.0

dev_dependencies:
  test: 1.24.3
  very_good_analysis: ^5.0.0+1
  build_runner: ^2.4.6
  json_serializable: ^6.7.1

