name: ew_keyring
description: Encointer Utils Package
version: 0.1.0
publish_to: none

resolution: workspace

environment:
  sdk: ">=3.6.0 <4.0.0"

dependencies:
  convert: ^3.1.1
  json_annotation: 4.9.0
  polkadart_keyring: ^0.7.1
  ss58: ^1.2.0
  substrate_bip39: ^0.7.1

dev_dependencies:
  build_runner: ^2.4.7
  json_serializable: ^6.8.0
  test: ^1.24.9
  very_good_analysis: ^10.0.0
