name: encointer_wallet
description: EncointerWallet made with Flutter.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html

# bump version already while working on new release, bumping build number at the same time
# bump build number even more, if needed to clarify what's deployed
version: 1.9.0+860

publish_to: none

environment:
  sdk: ">=2.19.0 <3.0.0"
  flutter: "3.7.1"

dependencies:
  # intl - format numbers
  intl: ^0.17.0
  json_annotation: ^4.8.0
  bip39: ^1.0.6
  # state management with mobx
  mobx: ^2.1.3+1
  flutter_mobx: ^2.0.6+5
  shared_preferences: ^2.0.17
  http: ^0.13.5
  flutter_inappwebview: ^6.0.0-beta.22
  rxdart: ^0.27.7
  flutter_local_notifications: ^13.0.0
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  base58check: ^2.0.0
  package_info_plus: ^3.0.2
  quiver: ^3.2.1
  dio: ^4.0.6
  image_picker: ^0.8.6+1
  animated_check: ^1.0.5
  share_plus: ^6.3.0
  flutter_timezone: ^1.0.4

  # Adjust screen brightness and keep awake for qrcodes
  wakelock: ^0.6.2
  screen_brightness: ^0.2.2

  # encointer dart api
  json_rpc_2: ^3.0.2
  web_socket_channel: ^2.3.0
  cupertino_icons: ^1.0.5
  # QR code generator & reader
  qr_flutter_fork:
    git:
      url: https://github.com/polkawallet-io/qr.flutter.git
      ref: master
  mobile_scanner: ^2.1.0
  aes_ecb_pkcs5_flutter: ^0.1.2
  permission_handler: ^10.2.0
  flutter_svg: ^1.1.6
  url_launcher: ^6.1.9
  dropdown_search: ^5.0.5
  material_floating_search_bar: ^0.3.7
  provider: ^6.0.5
  flutter_map_marker_popup: ^4.0.0
  flutter_map: ^3.1.0
  dart_geohash: ^2.0.2
  iconsax: ^0.0.8
  add_2_calendar: ^2.2.3
  sliding_up_panel: ^2.0.0+1
  pausable_timer: ^1.0.0+7
  focus_detector: ^2.0.1
  jdenticon_dart: ^2.0.0
  photo_view: ^0.14.0
  upgrader: ^6.0.1
  app_links: ^3.4.1
  local_auth: ^2.1.3

dev_dependencies:
  build_runner: ^2.3.3
  json_serializable: ^6.6.1
  json_serializable_mobx: ^0.10.3
  mobx_codegen: ^2.1.1
  # Check unused dependencies. Note: Some packages are not imported by any dart files but are used
  # for their executables. If that is the case, they can be white-listed by using the --ignore option.
  # mobx_codegen, json_seriablizable belong to these.
  dependency_validator: ^3.2.2
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  test: ^1.22.0
  mocktail: ^0.3.0
  very_good_analysis: ^3.1.0

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/public/app.png"

# The following section is specific to Flutter.
flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    # js service
    - lib/js_service_encointer/dist/main.js

    #svg
    - assets/nctr_logo.svg
    - assets/nctr_mosaic_background.svg
    - assets/nctr_logo_faces_only_thick.svg
    # Leu icon for mocks
    - assets/images/assets/icon_leu.svg
    # images
    ## images - settings
    - assets/images/public/nctr-cln.png
    - assets/images/public/nctr-cln_gray.png
    - assets/images/public/nctr-cln-dev.png
    - assets/images/public/nctr-cln-dev_gray.png
    - assets/images/public/nctr-gsl-dev.png
    - assets/images/public/nctr-gsl-dev_gray.png
    - assets/images/public/nctr-gsl.png
    - assets/images/public/nctr-gsl_gray.png
    - assets/images/public/nctr-r.png
    - assets/images/public/nctr-r_gray.png
    - assets/images/public/nctr-k.png
    - assets/images/public/nctr-k_gray.png
    - assets/images/assets/ERT.png
    - assets/images/assets/scanner.png
    ## images - acala
    - assets/images/assets/scanner_indigo.png
    - assets/images/assets/top_bg_indigo.png
    - assets/images/assets/receive_line_indigo.png
    - assets/images/assets/qrcode_indigo.png
    - assets/images/assets/plus_indigo.png
    - assets/images/staking/top_bg_indigo.png
    - assets/images/public/Wallet_indigo.png
    - assets/images/public/Bazaar_dark.png
    - assets/images/public/Profile_indigo.png
    - assets/images/public/Ceremonies_indigo.png
    - assets/images/public/Ceremonies_dark.png
    - assets/images/public/Contacts_indigo.png
    - assets/images/public/Contacts_dark.png
    - assets/images/public/Scan_indigo.png
    - assets/images/public/Scan_dark.png
    - assets/images/public/Bazaar_indigo.png
    ## images - laminar
    - assets/images/assets/scanner_purple.png
    - assets/images/assets/top_bg_purple.png
    - assets/images/assets/receive_line_purple.png
    - assets/images/assets/qrcode_purple.png
    - assets/images/assets/plus_purple.png
    - assets/images/staking/top_bg_purple.png
    - assets/images/public/Wallet_purple.png
    - assets/images/public/Profile_purple.png
    ## images - kusama
    - assets/images/assets/scanner_black.png
    - assets/images/public/Wallet_black.png
    - assets/images/public/Bazaar_black.png
    - assets/images/public/Profile_black.png
    - assets/images/assets/top_bg_black.png
    - assets/images/assets/qrcode_black.png
    - assets/images/assets/plus_black.png
    - assets/images/assets/receive_line_black.png
    - assets/images/public/kusama.png
    ## images - polkadot
    - assets/images/assets/scanner_pink.png
    - assets/images/public/app.png
    - assets/images/public/Wallet_pink.png
    - assets/images/public/Bazaar_pink.png
    - assets/images/public/Profile_pink.png
    - assets/images/public/Wallet_dark.png
    - assets/images/public/Profile_dark.png
    - assets/images/public/logo_about.png
    - assets/images/public/dontscreen.png
    - assets/images/public/copy.png
    - assets/images/public/polkadot.png
    - assets/images/public/polkadot_gray.png
    - assets/images/public/westend.png
    - assets/images/public/substrate.png
    - assets/images/public/default.png
    - assets/images/assets/logo.png
    - assets/images/assets/top_bg_pink.png
    - assets/images/assets/Assets_nav_0.png
    - assets/images/assets/Assets_nav_1.png
    - assets/images/assets/qrcode_pink.png
    - assets/images/assets/plus_pink.png
    - assets/images/assets/Menu_scan.png
    - assets/images/assets/assets_send.png
    - assets/images/assets/assets_receive.png
    - assets/images/assets/assets_up.png
    - assets/images/assets/assets_down.png
    - assets/images/assets/assets_fail.png
    - assets/images/assets/success.png
    - assets/images/assets/receive_line_pink.png
    - assets/images/staking/top_bg_pink.png
    - assets/images/profile/about.png
    - assets/images/profile/address.png
    - assets/images/profile/setting.png

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
