name: ew_polkadart
description: Encointer Node Dart Interface
version: 0.1.0
publish_to: none

resolution: workspace

environment:
  sdk: ">=3.6.0 <4.0.0"

dependencies:
  convert: ^3.1.1
  # Generated files depend on quiver
  quiver: ^3.2.1
  polkadart: ^0.7.3
  polkadart_scale_codec: ^1.6.0

dev_dependencies:
  # The generated files do not satisfy the `very_good_analysis` lints.
  lints: ^6.0.0
  polkadart_cli: ^0.7.1
  substrate_metadata: ^1.3.0

  test: ^1.24.9

# This only generates valid files on UNIX machines.
# The imports statements use `\` otherwise, which is
# invalid.
# Run the following script in in a git bash console afterwards to fix it:
# `./scripts/replace_backslash_in_dart_files.sh packages/ew_polkadart`
polkadart:
  output_dir: lib/generated
  chains:
    encointer_kusama: wss://kusama.api.encointer.org
#    encointer_kusama: ws://localhost:9944
#    asset_hub_kusama:  wss://sys.ibp.network/asset-hub-kusama