gradle-wrapper.jar
/.gradle
/captures/
# Fix that appcenter recognizes the app as an android project.
# See: https://github.com/flutter/flutter/issues/30858
# /gradlew
# /gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
