name: encointer_wallet
description: EncointerWallet made with Flutter.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html

# bump version already while working on new release, bumping build number at the same time
# bump build number even more, if needed to clarify what's deployed
version: 1.15.4+894

publish_to: none

environment:
  sdk: ">=3.2.0 <4.0.0"
  flutter: "3.16.3"

dependencies:
  collection: ^1.19.0
  convert: ^3.1.2
  cupertino_icons: ^1.0.8
  latlong2: ^0.9.1
  # intl - format numbers
  intl: ^0.19.0
  json_annotation: ^4.8.1
  # state management with mobx
  mobx: ^2.5.0
  flutter_mobx: ^2.3.0
  shared_preferences: ^2.3.5
  flutter_local_notifications: ^18.0.1
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  base58check: ^2.0.0
  package_info_plus: ^8.1.2
  quiver: ^3.2.2
  share_plus: ^10.1.3
  flutter_timezone: ^1.0.8

  # Adjust screen brightness and keep awake for qrcodes
  wakelock_plus: ^1.2.10
  screen_brightness: ^2.0.1

  # QR code generator & reader
  pretty_qr_code: ^3.3.0
  mobile_scanner: ^6.0.2
  aes_ecb_pkcs5_flutter: ^0.1.2 # Todo: #1460: replace with alternative package
  permission_handler: ^11.3.1
  flutter_svg: ^2.0.17
  url_launcher: ^6.3.1
  dropdown_search: ^5.0.6
  provider: ^6.1.2
  flutter_map_marker_popup: ^7.0.0
  flutter_map: ^7.0.2
  flutter_linkify: ^6.0.0 # Automatically transform http(s) links to inline links.
  dart_geohash: ^2.0.2 # Todo: #1270: replace with alternative package
  iconsax: ^0.0.8 # Todo: #1271: replace with alternative package
  add_2_calendar: ^3.0.1
  sliding_up_panel: ^2.0.0+1 # Todo: #1272: replace with alternative package
  pausable_timer: ^3.1.0+3
  focus_detector: ^2.0.1 # Todo: #1273: replace with alternative package
  jdenticon_dart: ^2.0.0 # Todo: #1274: replace with alternative package
  photo_view: ^0.15.0
  upgrader: ^11.3.1
  app_links: ^6.3.3
  local_auth: ^2.1.7
  printing: ^5.13.4
  pdf: ^3.11.1
  pointycastle: ^3.9.1
  connectivity_plus: ^6.1.1
  timezone: ^0.10.0
  ew_endpoint_manager:
    path: ../packages/endpoint_manager
  ew_encointer_utils:
    path: ../packages/ew_encointer_utils/
  ew_storage:
    path: ../packages/ew_storage/
  ew_http:
    path: ../packages/ew_http/
  ew_keyring:
    path: ../packages/ew_keyring/
  ew_polkadart:
    path: ../packages/ew_polkadart/
  ew_primitives:
    path: ../packages/ew_primitives/
  ew_substrate_fixed:
    path: ../packages/ew_substrate_fixed/
  ew_test_keys:
    path: ../packages/ew_test_keys/
  decimal: ^2.3.3

dev_dependencies:
  build_runner: ^2.4.8
  flutter_gen_runner: ^5.4.0
  json_serializable: ^6.7.1
  json_serializable_mobx: ^0.10.3
  mobx_codegen: ^2.6.0+1
  # Check unused dependencies. Note: Some packages are not imported by any dart files but are used
  # for their executables. If that is the case, they can be white-listed by using the --ignore option.
  # mobx_codegen, json_serializable belong to these.
  dependency_validator: ^4.1.2
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  test: ^1.24.9
  mocktail: ^1.0.1
  very_good_analysis: ^5.1.0
  rxdart: ^0.28.0

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/public/app.png"

flutter_gen:
  output: lib/gen/ # Optional (default: lib/gen/)

  integrations:
    flutter_svg: true

  assets:
    exclude:
      - js_service_encointer/dist/*.jpg

# The following section is specific to Flutter.
flutter:
  uses-material-design: true
  generate: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/assets/
    - assets/images/public/
    - assets/avatars/
    - assets/kusama.svg
    - assets/nctr_logo.svg
    - assets/nctr_logo_faces_only_thick.svg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
