name: ew_storage
description: Encointer Wallet Storage
version: 0.1.0
publish_to: none

resolution: workspace

environment:
  sdk: ">=3.6.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_secure_storage: ^9.0.0
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.1
  test: ^1.24.9
  very_good_analysis: ^9.0.0
