name: ew_storage
description: Encointer Wallet Storage
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.0.1 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_secure_storage: ^8.0.0
  shared_preferences: ^2.0.17  

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
  very_good_analysis: ^4.0.0
