name: Android Build

on:
  push:
    branches: [master, f-droid]
  pull_request:
    branches: [master, f-droid]

env:
  NODE_VERSION: 16.13.1
  JAVA_VERSION: 12.x

jobs:
  cancel_previous_runs:
    name: Cancel Previous Runs
    runs-on: ubuntu-20.04
    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

  build-android:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      # Setup Environment
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: "zulu"

      - name: Install flutter wrapper
        run: ./scripts/install_flutter_wrapper.sh

      # JS Stuff
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Melos Install
        run: ./scripts/melos_install.sh

      - name: melos bootstrap
        run: ./flutterw pub global run melos bootstrap

      - name: "Build JS"
        working-directory: ./scripts
        run: source ./init_env.sh && ./build_js.sh

      - name: "Build apk"
        run: ./flutterw pub global run melos build-apk
