name: Device CI

on:
  push:
    branches: [master, f-droid]
    tags:
      - "*"
  pull_request:
    branches: [master, f-droid]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  # IOS Devices
  iphone_pro_max:
    # used for all iPhone models' store screenshots.
    uses: ./.github/workflows/device_ci_proxy.yml
    with:
      workflow_file: ios_device_ci.yml
      # Ignored for IOS, but the field is required
      api_level: 33
      device: "iPhone 17 Pro Max"
      record_video: true
      docker_tag: "1.16.2"

  ipad_pro_6:
    # used for all iPad models' store screenshots.
    uses: ./.github/workflows/device_ci_proxy.yml
    with:
      workflow_file: ios_device_ci.yml
      # Ignored for IOS, but the field is required
      api_level: 33
      device: "iPad Pro 13-inch (M5)"
      record_video: true
      docker_tag: "1.16.2"

  # Android devices
  pixel_3a_api_33:
    uses: ./.github/workflows/device_ci_proxy.yml
    with:
      workflow_file: android_device_ci.yml
      api_level: 33
      device: "pixel_3a"
      record_video: true
      docker_tag: "1.16.2"

  pixel_3a_api_35:
    uses: ./.github/workflows/device_ci_proxy.yml
    with:
      workflow_file: android_device_ci.yml
      api_level: 35
      device: "pixel_3a"
      record_video: true
      docker_tag: "1.16.2"
