name: Device CI

on:
  push:
    branches: [master, f-droid, cl/node-ci-test]
    tags:
      - "*"
  pull_request:
    branches: [master, f-droid]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  # IOS Devices
  iphone_14_pro_max:
    uses: ./.github/workflows/ios_device_ci.yml
    with:
      device: "iPhone 15 Pro Max"
      record_video: true
      docker_tag: "1.16.2"

  ipad_pro_6:
    uses: ./.github/workflows/ios_device_ci.yml
    with:
      device: "iPad Pro (12.9-inch) (6th generation)"
      record_video: true
      docker_tag: "1.16.2"

  ipad_pro_2:
    uses: ./.github/workflows/ios_device_ci.yml
    with:
      device: "iPad Pro (12.9-inch) (2nd generation)"
      record_video: true
      docker_tag: "1.16.2"

  # Android devices
  pixel_3a_api_33:
    uses: ./.github/workflows/android_device_ci.yml
    with:
      api-level: 33
      device: "pixel_3a"
      record_video: true
      docker_tag: "1.16.2"

  pixel_3a_api_35:
    uses: ./.github/workflows/android_device_ci.yml
    with:
      api-level: 35
      device: "pixel_3a"
      record_video: true
      docker_tag: "1.16.2"
