name: Fdroid test

on:
  push:
    branches: [master, f-droid]
  pull_request:
    branches: [master, f-droid]

# Cancel a currently running workflow from the same PR, branch or tag when a new workflow is
# triggered (ref https://stackoverflow.com/a/72408109)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  setup-works:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-linux-android,armv7-linux-androideabi,x86_64-linux-android

      - name: Cache cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/cargo-ndk
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
          key: ${{ runner.os }}-cargo-ndk-${{ hashFiles('packages/ew_zk_prover/rust/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-ndk-

      - name: Install cargo-ndk
        run: command -v cargo-ndk || cargo install cargo-ndk

      # The following steps are executed with those scripts, as this is how we build
      # the app in the f-droid pipeline too.
      - name: Check fdroid setup
        run: ./scripts/fdroid_init.sh

      - name: Check froid build
        run: ./scripts/fdroid_build.sh
