# name: Fdroid test

# on:
#   push:
#     branches: [ master, f-droid ]
#   pull_request:
#     branches: [ master, f-droid ]

# jobs:
#   setup-works:
#     runs-on: ubuntu-latest
#     timeout-minutes: 30
#     steps:
#       # Setup Environment
#       - uses: actions/checkout@v3

#       - name: Check fdroid setup
#         run: ./scripts/fdroid_init.sh

#       - name: Check froid build
#         run: ./scripts/fdroid_build.sh
