name: JS-CI

on:
  push:
    branches: [master, f-droid]
  pull_request:
    branches: [master, f-droid]

env:
  NODE_VERSION: 16.13.1
  JAVA_VERSION: 12.x

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      # Setup Environment
      - uses: actions/checkout@v3

      # JS Stuff
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Run encointer-node
        run: ./scripts/docker_run_encointer_node_notee.sh &

      - name: Bootstrap Demo Community
        run: ./scripts/docker_run_encointer_client_bootstrap_demo_community.sh

      - name: Test JS
        # We don't really have unit tests in the JS part. Most tests need a local node running.
        run: |
          cd app/js_service_encointer
          yarn install
          yarn test

  build-js:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      # Setup Environment
      - uses: actions/checkout@v3

      # JS Stuff
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Build JS
        run: |
          cd app/js_service_encointer
          yarn install
          yarn build

      - name: "Upload JS binary"
        uses: actions/upload-artifact@v3
        with:
          name: main.js
          path: ./app/js_service_encointer/dist/main.js

  e2e-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        network: [gesell] # Todo: add cantillon once we support it again.
    steps:
      # Setup Environment
      - uses: actions/checkout@v3

      # JS Stuff
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Run e2e tests against  ${{ matrix.network }}
        run: |
          cd app/js_service_encointer
          yarn install
          yarn test:${{ matrix.network }}
