name: Run Encointer Node

on:
  push:
    branches: [cl/node-ci-test]
    tags:
      - "*"
  pull_request:
    branches: [master, f-droid]

env:
  ARTIFACT_PATH: ./screenshots

# Cancel a currently running workflow from the same PR, branch or tag when a new workflow is
# triggered (ref https://stackoverflow.com/a/72408109)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run-encointer-node:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      # Setup Environment
      - uses: actions/checkout@v4

      - run: ls ./.github/workflows

      - uses: ./.github/workflows/run-encointer-node.yml
