name: Unit Tests & Code Quality

on:
  push:
    branches: [ master, f-droid ]
  pull_request:
    branches: [ master, f-droid ]

jobs:
  flutter:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      # Setup Environment
      - uses: actions/checkout@v3

      - uses: monorepo-actions/config-for-actions@main
        id: config
        with:
          config_files: ./.github/action-config.json

      - name: Install flutter wrapper
        run: ./scripts/install_flutter_wrapper.sh

      # Analyzer throws an error if an asset is missing
      - name: "Make mock-main.js"
        run: |
          mkdir -p ${{ steps.config.outputs.js-service-encointer-path }}/dist
          touch ${{ steps.config.outputs.encointer-main-js-path }}

      # analyze and test
      - name: "Check fmt"
        run: ./flutterw format . --line-length 120 --set-exit-if-changed

      - name: "Analyze Code"
        run: ./flutterw pub get && ./flutterw analyze  --fatal-warnings

      - name: "Run unit tests"
        run: ./flutterw test --exclude-tags encointer-node-e2e

#  test-js:
    # Todo: Currently e2e tests are mixed with unit tests (although the amount of unit tests is really small)



