name: Unit Tests & Code Quality

on:
  push:
    branches: [master, f-droid]
  pull_request:
    branches: [master, f-droid]

jobs:
  flutter:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      # Setup Environment
      - uses: actions/checkout@v3

      - name: Install flutter wrapper
        run: ./scripts/install_flutter_wrapper.sh

      - name: Get dependencies (i.e., melos)
        run: .flutter/bin/dart pub get

      - name: Melos Bootstrap
        run: .flutter/bin/dart run melos bootstrap

      - name: "Build JS"
        run: .flutter/bin/dart run melos yarn-build

      - name: "Check fmt"
        run: .flutter/bin/dart run melos format-check

      - name: "Analyze Code"
        run: .flutter/bin/dart melos analyze-check

      - name: "Check translations"
        run: |
          cd app && ./../flutterw gen-l10n && cd ..
          ./scripts/check_translations.sh ./app/.untranslated-messages.txt

      - name: "Run unit tests Encointer"
        run: .flutter/bin/dart run melos unit-test-app-exclude-encointer-node-e2e

      - name: "Run unit tests Packages"
        run: .flutter/bin/dart run melos unit-test-packages

      - name: "Run the build_runner and return an error if files are changed"
        run: |
          .flutter/bin/dart run melos run-build-runner
          .flutter/bin/dart run melos format
          git diff --exit-code

    #  test-js:
    # Todo: Currently e2e tests are mixed with unit tests (although the amount of unit tests is really small)
