name: Unit Tests & Code Quality

on:
  push:
    branches: [master, f-droid]
  pull_request:
    branches: [master, f-droid]

# Cancel a currently running workflow from the same PR, branch or tag when a new workflow is
# triggered (ref https://stackoverflow.com/a/72408109)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  flutter:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      # Setup Environment
      - uses: actions/checkout@v4

      - name: Install flutter wrapper
        run: ./scripts/install_flutter_wrapper.sh

      - name: Get dependencies (i.e., melos)
        run: .flutter/bin/dart pub get

      - name: Melos Bootstrap
        run: .flutter/bin/dart run melos bootstrap

      - name: "Check fmt"
        run: .flutter/bin/dart run melos format-check

      - name: "Analyze Code"
        run: .flutter/bin/dart run melos analyze-check

      - name: "Check translations"
        run: |
          cd app && ./../flutterw gen-l10n && cd ..
          ./scripts/check_translations.sh ./app/.untranslated-messages.txt

      - name: "Run unit tests Packages"
        run: .flutter/bin/dart run melos unit-test-packages

      - name: "Run the build_runner and return an error if files are changed"
        run: |
          .flutter/bin/dart run melos run-build-runner
          .flutter/bin/dart run melos format-120
          git diff --exit-code

      - name: "Run unit tests Encointer"
        run: .flutter/bin/dart run melos unit-test-app-exclude-e2e
